.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.jimi {
  align-items: center;
  color: mediumvioletred;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: 400;
  text-decoration: overline;
  text-decoration-color: darkslategray;
}

.intro {
  text-align: center;
  color: darkorange;
  font-family: Franklin Gothic Medium;
  font-weight: 200;
  font-size: x-large;
  font-style: italic;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid mediumblue;
}

.recovered {
  border-bottom: 10px solid chartreuse;
}

.deaths {
  border-bottom: 10px solid rgb(255, 0, 0);
}

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
